a {
  text-decoration: none;
  color: rgb(39, 38, 38);
  background-color: aqua;
}

.active .MuiListItemButton-root {
  background-color: rgb(172, 174, 179);
}

.inactive .MuiListItemButton-root {
  background-color: transparent;
}
